@import 'tailwindcss';
@import 'tw-animate-css';
@custom-variant dark (&:is(.dark *));

@utility container-compact {
	@apply px-[5%] py-2;
}
.bg-accent-shadow {
	position: fixed;
	inset: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
}

@theme inline {
	--color-green: var(--green);
	--color-green-fg: var(--green-fg);
	--color-dark: var(--dark);
	--color-dark-fg: var(--dark-fg);
	--color-gray: var(--gray);
	--color-gray-fg: var(--gray-fg);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
}
:root {
	--navbar-columns: repeat(3, 1fr);
	--green: #b9ff66;
	--dark: #191a23;
	--gray: #f3f3f3;
	--green-fg: var(--dark);
	--dark-fg: var(--gray);
	--gray-fg: var(--dark);

	--background: var(--gray);
	--foreground: var(--dark);
}
.dark {
	--background: var(--dark);
	--foreground: var(--gray);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: var(--secondary);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: color-mix(in srgb, var(--primary) 100%, black 90%);
}
